html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: azure;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  font-weight: 900;
  background-color: black;
  color: lightgreen;
  text-align: center;
}

table {
  max-width: 1200px;
  margin: auto;
}

td {
  background-color: hsl(268, 100%, 85%);
}

td:first-child {
  width: 20%;
  font-weight: 600;
}

td:nth-child(2) {
  width: 40%;
}

td:last-child {
  width: 40%;
  font-family: 'Courier New', Courier, monospace;
}

th {
  background-color:hsl(210, 100%, 80%);
  font-size: 25px;
}
